body {
  margin: 0;
  font-family: Inter, Roboto, Arial, sans-serif;
}

.MuiContainer-root {
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
}

a {
  text-decoration: none;
  color: #3280f6;
}



/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F8FAFC;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #EAEAEA;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E0E0E0;
}
